*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #388AEB;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.cabecalho-imagem{
    width: 6%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}